  
version: 2.1
orbs:
  docker: circleci/docker@1.5.0
  aws-eks: circleci/aws-eks@0.2.3
  kubernetes: circleci/kubernetes@0.4.0
  aws-cli: circleci/aws-cli@1.4.1
  
jobs:
            
  create-eks-cluster:
    executor: aws-eks/python3
    parameters:
      cluster-name:
        description: |
          Name of the EKS cluster
        type: string
    steps:
      - checkout
      - kubernetes/install
      - aws-eks/install-eksctl
      - aws-cli/setup
      - run:
          name: create cluster
          command: |
            #Only create cluster if not exists  
            mystackcount=`aws cloudformation list-stacks --stack-status-filter CREATE_COMPLETE | grep "<< parameters.cluster-name >>" | wc -l`
            if [[ $mystackcount -gt 0 ]]
            then
            echo "Cluster Found"
            else
            echo "Cluster Not Found"
            eksctl create cluster --name << parameters.cluster-name >> --region us-west-2 --node-type m5.large --nodes 2 --nodes-min 2 --nodes-max 4 --managed
            fi

  deploy-pods:
    executor: aws-eks/python3
    parameters:
      cluster-name:
        description: |
          Name of the EKS cluster
        type: string
    steps:
      - checkout
      - kubernetes/install
      - aws-eks/update-kubeconfig-with-authenticator:
          cluster-name: << parameters.cluster-name >>
      - run:
          name: deployment
          command: |
            # Check the cluster/nodes/pods status
            kubectl get services
            kubectl get nodes
            kubectl get pods
            
            # Deployment - rolling deployment 
            kubectl apply -f ./deployment.yaml
            kubectl apply -f ./service.yaml
            kubectl get deployment my-frontend
            kubectl rollout restart deployment/my-frontend
            
            # Check the cluster/nodes/pods status
            sleep 20
            kubectl get services
            kubectl get nodes
            kubectl get pods
            sleep 20
            
workflows:
  default:
    jobs:
     - docker/hadolint:
        dockerfiles: ./Dockerfile
        ignore-rules: 'DL4005,DL3008'
     - docker/publish:
        requires: [docker/hadolint]
        image: krajeevs/udacityp05_v1
        tag: latest
     - create-eks-cluster:  
        requires: [docker/publish]
        cluster-name: my-udacity-capstone-demo
     - deploy-pods:
        requires: [create-eks-cluster]
        cluster-name: my-udacity-capstone-demo
     #- aws-eks/delete-cluster:
        #requires: [deploy-pods]
        #cluster-name: my-udacity-capstone-demo
    
